@import "colors";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

html, body {
    height: 100%;
    width: 100%;
    padding: 0%;
    margin: 0%;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    height: 300px;
    background-color: black;
    nav{
        height: 100%;
        width: 100%;
        
    }
    }
main {
        background-color: $rosadito;
        div{
            padding-top: 1%;
        }   
    }

