@import "colors";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
$colores: (
    fondoHeader: rgb(0, 0, 0),
    fondoMain: #ecc4ab,
);
@mixin height($height) {
    height: $height;
   }
html, body {
    height: 100%;
    width: 100%;
    padding: 0%;
    margin: 0%;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    @include height(135px);
    background-color: map-get($colores, fondoHeader);
    nav{
        height: 100%;
        width: 100%;
        }
    }
section{
    @include height(auto);
    background-color: map-get($colores, fondoMain);
    div{
        margin: 2.5%
    } 

}
main {
        @include height(auto);
        background-color: map-get($colores, fondoMain); 
        div{
            .margintop{
                margin-top: 30px;
                .imgheight{
                    height: 200px;
                    width: 100%;
                }
            }
        } 
    }

.dropdown-item--text{
    font-weight: bolder;
    padding-left: 10%;   
    text-decoration: none;
}
#displayflex{
    display: flex;
}
/*agregando extend a clase de bootstrap*/
